<div class="container">
  <div class="text-center mt-3 mb-3">
    <%= image_tag 'phantom_logo.png', class: 'img-fluid' %>
  </div>

  <div class="card">

    <div class="card-title">Team Management</div>
    <%= show_flash %>

    <div class="row">
      <div class="col-md-8">
        <% if @teams.size == 0 %>
          <p class="text-muted">No Records</p>
        <% else %>
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th>Team Name</th>
                <th>Coach Name</th>
                <th class="text-center">Players</th>
              </tr>
            </thead>
            <% @teams.each do |team| %>
              <tr>
                <td><%= team.team_name %></td>
                <td><%= team.coach_name %></td>
                <td class="text-center"><%= team.players.count %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card">
          <h4 class="card-title">Upload Teams</h4>
          <p class="text-muted">Use this form to upload teams for the draft.  This will replace existing teams AND players. Download <%= link_to "sample file", asset_path('teams.csv'), download: "teams-template.csv" %>.</p>
          <%= form_tag(d_teams_path(d_id: @division), multipart: true) do %>
            <div class="form-group">
              <%= file_field_tag 'file', class: 'form-control' %>
            </div>
            <%= submit_tag "Upload Teams", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if @teams.size > 0 %>
    <div class="card">
      <div class="card-title">Player Management</div>
      <div class="row">
        <div class="col-md-8">
          <% if @players.size == 0 %>
            <p class="text-muted">No Records</p>
          <% else %>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="text-center">Team</th>
                  <th class="text-center">Auto Draft Team</th>
                  <th class="text-center">Pitching</th>
                  <th class="text-center">Catching</th>
                  <th class="text-center">Overall</th>
                </tr>
              </thead>
              <%= render @players %>
            </table>
          <% end %>
        </div>
        <div class="col-md-4">
          <% if @division.end_draft? && @division.players.exists? %>
            <div class="card">
              <h4 class="card-title">Download Players</h4>
              <p class="text-muted">Click the following link to download the players with their team assignments.</p>
              <%= link_to "Export CSV", d_players_path(d_id: @division, format: :csv) %>
            </div>
          <% else %>
            <div class="card">
              <h4 class="card-title">Upload Players</h4>
              <p class="text-muted">Use this form to upload players for the draft. This will replace all players.  Download <%= link_to "sample file", asset_path('players.csv'), download: "players-template.csv" %>.</p>
              <%= form_tag(d_players_path(d_id: @division), multipart: true) do %>
                <div class="form-group">
                  <%= file_field_tag 'file', class: 'form-control' %>
                </div>
                <%= submit_tag "Upload Players", class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @teams.size > 0 && @players.size > 0 %>
    <div class="card">
      <div class="card-title">Draft Management</div>
      <% if @division.players.where("players.draft_order IS NOT NULL").exists? %>
        <p class="text-center"><%= link_to "Continue Draft", draft_d_path(id: @division), class: 'btn btn-lg btn-primary' %></p>
      <% else %>
        <p class="text-center"><%= link_to "Start Draft", draft_d_path(id: @division), class: 'btn btn-lg btn-primary' %></p>
      <% end %>
    </div>
  <% end %>

</div>
