<tr id="<%= dom_id player %>">
  <td><%= link_to player.name, edit_d_player_path(@division, player), remote: true %></td>
  <td class="text-center"><%= player.team.try(:team_name) %></td>
  <td class="text-center"><%= player.auto_draft_team.try(:team_name) %></td>
  <td class="text-center"><%= player.pitching %></td>
  <td class="text-center"><%= player.catching %></td>
  <td class="text-center"><%= player.overall %></td>
</tr>
